@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot') format('embedded-opentype'),
         url('../fonts/Helvetica.woff2') format('woff2'),
         url('../fonts/Helvetica.woff') format('woff'),
         url('../fonts/Helvetica.ttf') format('truetype'),
         url('../fonts/Helvetica.svg#Helvetica') format('svg');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: url('../fonts/HelveticaBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaBold.woff2') format('woff2'),
         url('../fonts/HelveticaBold.woff') format('woff'),
         url('../fonts/HelveticaBold.ttf') format('truetype'),
         url('../fonts/HelveticaBold.svg#HelveticaBold') format('svg');
}

/* Start Global Css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: 'Helvetica';
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

body {
    color: #333333;
    font-family: 'Helvetica';
}
img {
    max-width: 100%;
}
/* End Global Css */
.view_sec .container-fluid {
    padding: 0 100px;
}
.banner_cover_sec {
    background: url(../images/sm_banner.jpg);
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_cover_sec .container-fluid {
    position: relative;
    text-align: center;
}
.banner_cover_sec .logo_sec a {
    display: block;
    max-width: 100px;
}
.banner_cover_sec .logo_sec {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
}
.search_sec {
    max-width: 790px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: auto;
}
 .search_sec .search {
    width: 100%;
    position: relative;
}
 .search_sec .search input[type="search"] {
    width: 100%;
    box-shadow: none;
    border: none;
    height: 47px;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}
 .search_sec .search .option_box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 47px;
    border: none;
}
 .search_sec .search .option_box select#lan-select {
    height: 100%;
    border: none;
    color: #b7b7b7;
    font-size: 14px;
}
 .search_sec .button_sec button.btn_submit {
    height: 100%;
    border: none;
    background: #e05c39;
    color: #fff;
    padding: 10px 20px;
}
 .search_sec .search input[type="search"]::placeholder {
    color: #b7b7b7;
    font-size: 14px;
}
.view_sec .img_sec {
    text-align: center;
}
.banner_cover_sec h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 27px;
    font-family: 'HelveticaBold';
}
.view_sec {
    padding: 60px 0;
}
.view_sec h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.view_sec .content_sec {
    width: 100%;
    background: #e2e2e2;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
}
.view_sec .content_sec h2 {
    font-size: 35px;
    color: #000;
    font-family: 'HelveticaBold';
}

.view_sec .content_sec h2 span {
    background: #fef668;
    border: 1px solid #222;
    border-radius: 10px;
    font-family: 'HelveticaBold';
}
.view_sec .button_sec a {
    background: #e67d61;
    color: #fff;
    margin: 10px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
}

.banner_cover{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 8%;
}
.header_sec ul.navbar-nav li a.nav-link {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'HelveticaBold';
	padding: 0;
	margin: 0 20px;
}
.header_sec ul.navbar-nav {
    align-items: center;
}
.header_sec {
    margin-bottom: 110px;
}
.banner_cover .search_sec {;
    margin: 0px auto 50px;
}
.banner_cover .search_sec .search {
    width: 65%;
    position: relative;
}
.banner_cover .content_sec p {
    text-align: center;
    color: #fff;
    max-width: 583px;
    margin: auto;
}
.banner_cover h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}
.add_sec {
    padding: 120px 0 130px;
    text-align: center;
}
.footer_sec {
    background: #ededed;
    padding: 8px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.highliht_text{
        background-color: #ff0;
}
.ajax_load {
    text-align: center;
    position: absolute;
    z-index: 999;
    left: 50%;
    right: 0;
    display: none;
    width: 100px;
}
.mid-cont-lft h1 {
    font-weight: 800;
}
.more-info a {
    color: #000;
    font-weight: 500;
    letter-spacing: 7px;
    display: inline-block;
    position: relative;
}
.more-info a span{color: #fff;}
.more-info {
    text-align: right;
    position: relative;
    margin-top: 38px;
}
.more-info a:after {
    height: 30px;
    width: 30px;
    content: '';
    background: #ec1c24;
    position: absolute;
    left: -10px;
    top: -4px;
    z-index: -1;
    border-radius: 50%;
}
section.mid-content-sec {
    padding: 90px 0;
}
.mid-cont-img{padding-left: 40px;}

.mid-cont-img:after {
    content: '';
    /*background: #fce039;*/
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 80%;
    height: 100%;
}

.sec-ttl h2 {
    font-weight: 800;
}

.sec-ttl {
    padding: 50px 0;
    text-align: center;
}
.mobile-app-cont-wrap{padding-bottom: 50px;}
.search-sec {
    position: relative;
    z-index: 9;
}
/* Text Inside Page Css */
.banner_cover.text_inside {
    background-position: center center !important;
    padding: 15px 0;
}

.banner_cover.text_inside .header_sec {
    margin-bottom: 0;
}
.inside_wrap {
    padding: 15px 0;
}
.inside_wrap .content_sec p {
    font-size: 27px;
    color: #464242; 
    font-family: 'Helvetica';
    margin: 44px;
    
}
/* Text Inside Page Css */
.header_sec .navbar button.navbar-toggler {
    background: #fff;
	margin-left: auto;
}
.header_sec .navbar button.navbar-toggler .fa.fa-bars {
    font-size: 25px;
    color: #333;
}
.header_sec ul.navbar-nav li.nav-item.active a.nav-link {
    position:relative;
	z-index: 9;
}
.header_sec ul.navbar-nav li.nav-item.active a.nav-link:before {
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
	background: #fff;
	height: 2px;
	content: "";
}
.header_sec ul.navbar-nav li:first-child.active {
    position: relative;
}
.header_sec ul.navbar-nav li:first-child.active:before {
    position: absolute;
    bottom: 4px;
    right: 0;
    background: #fff;
    height: 2px;
    content: "";
    width: 50%;
}
.view_sec .video_sec iframe#player {
    height: 510px;
}
.heading_wrap {
    width: 100%;
    text-align: center;
}
.influ_det {
    display: inline-block;
    border-bottom: 2px solid #fff;
    padding-bottom: 8px;
    margin: 30px;
}
.influ_det h1 {
    display: inline-block;
    font-size: 56px;
    vertical-align: middle;
    color: #fff;
    margin-right: 8px;
}
.influ_det .influ_log {
    display: inline-block;
    max-width: 100px;
}








@media (max-width: 1699.98px) { 
	.banner_cover_sec {
		padding: 30px 0;
	}
	.view_sec {
		padding: 30px 0;
	}
	.view_sec .video_sec iframe#player {
		height: 350px;
	}
	.view_sec .content_sec h2 {
		font-size: 30px;
	}
	.view_sec .content_sec {
		padding: 15px 5px;
	}
	.view_sec .button_sec a {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}
	.view_sec .img_sec img {
		width: 64%;
	}
}
@media (max-width: 1366.98px) { 
	.view_sec .video_sec iframe#player {
		height: 340px;
	}
	.banner_cover_sec {
		padding: 20px 0;
	}
	.view_sec {
		padding: 15px 0;
	}
	.view_sec .content_sec h2 {
		font-size: 18px;
	}
	.view_sec h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.view_sec .content_sec {
		padding: 10px 5px;
	}
}
@media (max-width: 1024.98px) { 
	.view_sec .video_sec iframe#player {
		height: 350px;
	}
	.banner_cover_sec {
		padding: 30px 0;
	}
	.view_sec .container-fluid {
		padding: 30px 15px;
	}	
}

@media (max-width: 768.98px) { 
	.view_sec .video_sec iframe#player {
			height: 400px;
	}
	.banner_cover_sec {
		padding: 30px 0;
	}
	.view_sec .img_sec img {
		width: 100%;
	}	
}

@media (max-width: 1199.98px) { 
	.search_sec {
		max-width: 600px;
	}
}

@media (max-width: 991.98px) { 
	.search_sec {
		max-width: 430px;
	}
}

@media (max-width: 767.98px) { 
     .banner_cover .navbar-collapse {
         position: fixed;
         top: 0;
         bottom: 0;
         left: 100%;
         width: 260px;
         padding-right: 1rem;
         padding-left: 1rem;
         overflow-y: auto;
         visibility: hidden;
         background-color: #343a40;
         transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
         transition: transform .3s ease-in-out, visibility .3s ease-in-out;
         transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
         z-index: 99;
         height: 100%;
    }
     .banner_cover .navbar-collapse.show {
         visibility: visible;
         -webkit-transform: translateX(-100%);
         transform: translateX(-100%);
    }
	.banner_cover_sec .logo_sec {
		position: relative;
		left: 0;
		top: 0;
		transform: inherit;
		max-width: 120px;
		width: 100%;
		margin: 0 auto 10px;
	}
	.left_sec.left_first_sec {
		display: none;
	}
	.view_sec .video_sec iframe#player {
		height: 360px;
	}
	.view_sec .content_sec {
		padding: 8px 5px;
	}
	.view_sec .button_sec a {
		width: 35px;
		height: 35px;
		font-size: 18px;
	}
	.view_sec .container-fluid {
		padding: 0px 15px;
	}
	.banner_cover_sec {
		padding: 10px 0;
	}
}

@media (max-width: 575.98px) { 
	.view_sec .video_sec iframe#player {
		height: 260px;
	}
	.view_sec h3 {
		font-size: 16px;
	}
}
